.subCategoryEntry{
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: black;
}

.subCategoryText{

}

#selected{
 -fx-background-color: #18484B !important;
 -fx-text-fill: white !important;
}

.subCategoryVbox{
    -fx-border-color: #18484B;
    -fx-border-width: 0 0 0 5;
    -fx-background-color: transparent;

}

.rootBackground{
    -fx-background-color: #E4E4E4;
}

.mainCategoryRootPane{
    -fx-background-color: transparent;
}