@font-face {
    font-family: "Lexend Deca";
    src: url('../LexendDeca-Regular.ttf');
}

.dateAnchorPane{
    -fx-border-radius: 10px;
    -fx-border-style: solid;
    -fx-background-radius: 10px;
}

.dayLabel, .dateNumberLabel{
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-family: "Lexend Deca";
    -fx-effect: null;
}

.selected{
    -fx-background-color: #18484B !important;
    -fx-border-radius: 10;
}

.selectedLabel{
    -fx-text-fill: white;
}

.dateAnchorPane:hover{
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
