@font-face {
    font-family: "Lexend Deca";
    src: url('../LexendDeca-Regular.ttf');
}

.labels, .timeLabel{
    -fx-font-family: "Lexend Deca";
}

.chooseBox{
    -fx-background-color: #F2F2F2;
    -fx-border-style: solid;
    -fx-border-radius: 20px;
}

.chooseDelivery{
    -fx-border-style: solid;
}

.selected{
    -fx-background-color: #18484B !important;
    -fx-border-radius: 10;
}

.selectedLabel{
    -fx-text-fill: white;
}

.deliveryPrice{
    -fx-alignment: center-right;
}

.days{
    -fx-hgap: 20px;
    -fx-vgap: 10px;
    -fx-padding: 0 15px 0px 45px;
}

.timesFlowPane{
    -fx-hgap: 20px;
    -fx-vgap: 10px;
    -fx-padding: 0 15px 0px 45px;
}

.time{
    -fx-background-color: #F2F2F2;
    -fx-border-style: solid;
    -fx-border-radius: 20px;
}