@font-face {
    font-family: "Lexend Deca";
    src: url('../LexendDeca-Regular.ttf');
}

.logoName, .shoppingLabel, .navItem{
    -fx-font-family: "Lexend Deca";
}

.logoName{
    -fx-text-fill: white;
}

.navItem{
    -fx-font-size: 32px;
}

.logoName:hover, .navItem:hover{
    -fx-cursor: HAND;
}

.shoppingLabel{
    -fx-alignment: center-right;
}
.searchBox{
    -fx-arc-height: 50px;
    -fx-arc-width: 50px;
}

.searchButton{
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-size: 20px;
    -fx-font-family: "Lexend Deca";
}

.shoppingCartButton{
    -fx-border-color: black;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-background-color: white;
    -fx-arc-height: 50px;
    -fx-arc-width: 50px;
}

.topBarBackground{
    -fx-background-color: #18484b;
}

.searchInput{
    -fx-font-size: 20px;
    -fx-background-radius: 50px;
    -fx-border-radius: 20px;
    -fx-padding: 4 0 0 55;
}