@font-face {
    font-family: "Lexend Deca";
    src: url('../LexendDeca-Regular.ttf');
}

.title{
    -fx-font-family: "Lexend Deca";
    -fx-font-size: 78px;
    -fx-text-fill: #000000;
}

.nothingHereLabel{
    -fx-font-family: "Lexend Deca";
    -fx-font-size: 48;
    -fx-text-fill: #4d4d4d;
}

.backButton{
    -fx-font-family: "Lexend Deca";
    -fx-font-size: 32;
    -fx-text-fill: white;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: #18484B;
    -fx-padding: 15 30 15 30;
}