@font-face {
    font-family: "Lexend Deca";
    src: url('../LexendDeca-Regular.ttf');
}

.progressLabel, .title, .cardLabel, .paymentLabel{
    -fx-font-family: "Lexend Deca";
}

.progressLabel, .cardTitle, .swishTitle{
    -fx-font-size: 24px;
}

.cardUnderTitle, .swishUnderTitle{
    -fx-font-size: 20px;
}

.bigTitle{
    -fx-font-size: 72px;
}

.paymentLabel{
    -fx-font-size: 32px;
}

.radiobutton{
    -fx-border-style: solid;
    -fx-border-radius: 100px;
}

.paymentBox{
    -fx-border-style: solid;
    -fx-border-radius: 15px;
}

.selectedRadioButton{
    -fx-background-color: #18484b;
    -fx-background-radius: 100px;
}

.cardPaymentBox{
    -fx-border-style: solid;
    -fx-border-radius: 15px;
}

.cardnumber, .cardMonth, .cardCvc{
    -fx-padding: 0 0 0 70px;
}

.cardnumber{
    -fx-background-radius: 15px 15px 0 0;
}

.cardMonth{
    -fx-background-radius: 0 0 0 15px;
}

.cardCvc{
    -fx-background-radius: 0 0 15px 0;
}

.swishBox{
    -fx-background-radius: 15px;
}

.swishOuterAnchorPane{
    -fx-padding: 0 0 30 0;
}

.cardOuterAnchorPane{
    -fx-padding: 0 0 30 0;
}