@font-face {
    font-family: "Lexend Deca";
    src: url('../LexendDeca-Regular.ttf');
}

.productsFlowPane{
    -fx-hgap: 52px;
    -fx-vgap: 52px;
    -fx-padding: 0 80 80 80;
}

.title{
    -fx-font-family: "Lexend Deca";
    -fx-font-size: 78;
    -fx-text-fill: black;
}

.nothingHereLabel{
    -fx-font-family: "Lexend Deca";
    -fx-font-size: 48;
    -fx-text-fill: #4d4d4d;
}

.backButton{
    -fx-font-family: "Lexend Deca";
    -fx-font-size: 32;
    -fx-text-fill: white;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: #18484B;
    -fx-padding: 15 30 15 30;
}

.backButton:hover{
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}