@font-face {
    font-family: "Lexend Deca";
    src: url('../LexendDeca-Regular.ttf');
}

.productsFlowPane{
    -fx-hgap: 52px;
    -fx-vgap: 52px;
    -fx-padding: 0 80 80 80;
}

.title{
    -fx-font-family: "Lexend Deca";
    -fx-font-size: 78;
    -fx-text-fill: black;
}

.nothingHereLabel{
    -fx-font-family: "Lexend Deca";
    -fx-font-size: 48;
    -fx-text-fill: #4d4d4d;
}