@font-face {
    font-family: "Lexend Deca";
    src: url('../LexendDeca-Regular.ttf');
}
.background{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.background:hover{
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 30, 0, 0.0, 0.0);
}



.heart{
    -fx-opacity: 0.7;
}

.heart:hover{
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.productNameLabel{
    -fx-font-size: 24;
    -fx-font-family: "Lexend Deca";
}

.productSubtextLabel{
    -fx-opacity: 0.8;
    -fx-font-size: 20;
    -fx-font-family: "Lexend Deca";
}

.addButton{
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-background-color: #c3d0d0;
    -fx-font-size: 24;
    -fx-font-family: "Lexend Deca";
}

.addButton:hover{
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.productPriceLabel{
    -fx-font-size: 24;
    -fx-font-family: "Lexend Deca";
}

.productPricePerUnitLabel{
    -fx-font-size: 24;
    -fx-font-family: "Lexend Deca";
}

.incdecrementButton{
    -fx-border-radius: 100%;
    -fx-background-radius: 100%;
    -fx-background-color: #18484B;
}

.incdecrementButton:hover{
    -fx-cursor: HAND;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0.5, 0.0, 0.0);
}

.incdecrementLabel{
    -fx-text-fill: white;
    -fx-font-size: 50;
}

.amountLabel{
    -fx-alignment: center;
    -fx-font-size: 40;
    -fx-font-family: "Lexend Deca";
}